html {
    background-color: #c49a6c;
}

@font-face { font-family: JuneBug; src: url('curlyFont.ttf'); } 

#title {
    font-family: JuneBug;
    float:left;
    width: 50%;
    margin:auto;
    color:#4b1f0e;
    text-decoration: #0e0504;
    text-shadow: 1px 0 3px,
    0 0 4px #efc3a4;
}

#title-content {
    display:flex;
    margin:50px;
    text-align: left;
    padding:1%;
    margin-bottom:1%;
    border-radius: 15px;
    height:125px;
    background-color: #a86f49;  
    justify-content: space-evenly;
    box-shadow: #0e0504 1px 0 3px;
    border:4px ridge #794028 ;
}

.list {
    float:right;
    width: 100%;
}

#horizontal {
    list-style-type: none;
    text-align: center;
    font-size: 140%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items:flex-end;
}

#horizontal li {
    display: table-cell;
}

li {
    float:right;
    display: flex;
    justify-content: baseline;
    margin:12px;
    padding:7px;
    width:15%;
    color: #c49a6c;
    background-color: #4b1f0e;
    box-shadow: #0e0504 1px 0 3px;

    transition: transform 300ms;
    transition: background-color 0.5s ease;
}


#main-wrapper {
    display:flex;
    margin:50px;
    justify-self: right;
    border-radius: 15px;
    background-color: #4b1f0e;
    justify-content: space-between;
    box-shadow: #0e0504 1px 0 2px,
    #efc3a4 1px 0 3px;
}

#content {
    float:left;
    width:76%;
    height: 500px;
    margin:2%;
    border-radius: 15px;
    background-color: #a86f49;
    border:4px ridge #794028 ;

    box-shadow: #efc3a4 1px 0 3px;

}

#menu {
    float:right;
    width:21%;
    margin:2%;
    height: 500px;
    border-radius: 15px;
    background-color: #a86f49;
    border:4px ridge #794028 ;
    box-shadow: #efc3a4 1px 0 3px;

}

#footer {
    background-color: #a86f49;
    margin:50px;    
    border-radius: 15px;
    box-shadow: #0e0504 1px 0 4px;

    height: 200px;
}

#footer-survey {

}



@media screen and (min-width: 1101px) {
    #title {
      font-size: 100px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    #title {
        font-size: 70px;
        vertical-align: middle;
        height: 100%;
        margin:auto;

        padding: 5px;
    }
    #horizontal {
        list-style-type: none;
        text-align: center;
        height:80%;
        font-size: 110%;
    }
  }

  a {
      text-decoration: none;
      color:#c49a6c;
      transition: color 100ms ease;
  }

  li:hover {
      transform: translateY(-5px);
      background-color: #a86f49;
  }

  a:hover {
    color:#4b1f0e;

  }